// Ресурсы приложения Hardcore Optimizer: иконка exe/окна.
// UAC-манифест подключается отдельным шагом сборки (см. CMakeLists.txt),
// т.к. встраивание его через RC-файл вызывает CVT1100 при линковке.
1 ICON "app.ico"